.gen-button {
	-fx-font: bold italic 20pt "Arial";
	-fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
	-fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-background-radius: 5, 5, 4, 3;
}

.gen-button: focus {
	-fx-font: bold italic 20pt "Arial";
	-fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
	-fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-background-radius: 5, 5, 4, 3;
}

.treasury-use-discard-button {
	-fx-background-color: transparent;
}

.treasury-use-discard-button: hover {
	-fx-scale-x: 1.3;
	-fx-scale-y: 1.3;
}

.action-button {
	-fx-font: 12pt "Arial";
	-fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
	-fx-background-insets: 0, 0, 1, 2;
	-fx-background-radius: 5, 5, 4, 3;
	-fx-background-color: linear-gradient(#f0ff35, #a9ff00),
		radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
}

.action-button: pressed {
	-fx-font: bold italic 20pt "Arial";
	-fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
	-fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-background-radius: 5, 5, 4, 3;
	  -fx-background-color: linear-gradient(#f0ff35, #a9ff00)
}

.action-button: hover {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.action-button: disabled {
	-fx-background-insets: 0, 0, 1, 2;
	-fx-background-radius: 5, 5, 4, 3;
	-fx-background-color: linear-gradient(#f0ff35, #a9ff00),
		radial-gradient(center 50% -40%, radius 200%, #c2c2c2 45%, #393939 50%);
}


.action-toggle-button {
	-fx-font: 12pt "Arial";
	-fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
	-fx-background-insets: 0, 0, 1, 2;
	-fx-background-radius: 5, 5, 4, 3;
	-fx-background-color: linear-gradient(#f0ff35, #a9ff00),
		radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
}

.action-toggle-button: hover {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}
.action-toggle-button: disabled {
	-fx-background-insets: 0, 0, 1, 2;
	-fx-background-radius: 5, 5, 4, 3;
	-fx-background-color: linear-gradient(#f0ff35, #a9ff00),
		radial-gradient(center 50% -40%, radius 200%, #c2c2c2 45%, #393939 50%);
}

.big-check-box {
	-fx-scale-x: 2.5;
	-fx-scale-y: 2.5;
}


.action-toggle-button: selected {
	-fx-effect: innershadow( three-pass-box , white , 10, 0.5 , -1 , -1);
	-fx-background-insets: 1 1 0 0 , 2 2 1 1  3 3 2 2 , 3;
	-fx-background-color: -fx-shadow-highlight-color, linear-gradient(#f0ff35, #a9ff00),
		radial-gradient(center 50% -40%, radius 200%, #5b7d0b 45%, #355200 50%);
}

.standard-label: {
	-fx-font: bold italic 20pt "Arial";
	-fx-background-color: transparent;
}



.clickable: hover {
	-fx-color: -fx-focused-base;
	-fx-background-color: -fx-focus-color, -fx-outer-border,
		-fx-inner-border, -fx-body-color;
	-fx-background-insets: 0, 2, 2, 2;
	-fx-background-radius: 6, 6, 6, 6;
}

.gen-vBox {
	-fx-fill-width: true;
	-fx-spacing: 10px;
}

.gen-hBox {
	-fx-fill-height: true;
	-fx-spacing: 2px;
}

.white-text-button {
	-fx-font: bold italic 20pt "Arial";
	-fx-text-fill: white;
}

.select-player-msg {
	-fx-font: bold italic 50pt "Arial";
	-fx-text-fill: white;
}

.messagePanel {
	-fx-stroke: white;
	-fx-stroke-width: 4;
}